<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
    <object class="wxPanel" name="InputPanel">
        <object class="wxBoxSizer" variable="BoxSizer1" member="yes">
            <object class="sizeritem">
                <object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="SongText" member="yes">
                    <style>wxTE_MULTILINE|wxTE_RICH2</style>
                    <handler function="OnSongTextModified" entry="EVT_TEXT" />
                    <handler function="OnSongTextChar" entry="EVT_CHAR" />
                </object>
                <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                <option>1</option>
            </object>
        </object>
    </object>
</wxsmith>
