<resource>
    <object class="wxPanel" name="PannelloPrincipale">
        <style>wxTAB_TRAVERSAL</style>
        <object class="wxBoxSizer" variable="BoxSizer1" member="yes">
            <orient>wxVERTICAL</orient>
            <object class="sizeritem">
                <option>1</option>
                <border>5</border>
                <flag>wxALL|wxALIGN_CENTER|wxEXPAND</flag>
                <object class="Custom" name="ID_CUSTOM1" variable="tela" member="yes">
                    <class>Tela</class>
                    <creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID));</creating_code>
                </object>
            </object>
            <object class="sizeritem">
                <border>5</border>
                <flag>wxALL|wxALIGN_CENTER</flag>
                <object class="wxBoxSizer" variable="BoxSizer2" member="yes">
                    <orient>wxVERTICAL</orient>
                    <object class="sizeritem">
                        <option>1</option>
                        <border>5</border>
                        <flag>wxALL|wxALIGN_CENTER</flag>
                        <object class="wxButton" name="ID_BUTTON1" variable="Bottone" member="yes">
                            <label>Copia negli Appunti</label>
                            <handler entry="EVT_BUTTON" function="OnBottoneClick" />
                        </object>
                    </object>
                </object>
            </object>
        </object>
    </object>
</resource>
