<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
    <object class="wxFrame" name="songpressFrame">
        <title>The Song Press - Il Canzonatore</title>
        <object class="wxMenuBar" variable="MenuBar1" member="no">
            <object class="wxMenu" variable="Menu1" member="yes">
                <label>_File</label>
                <object class="wxMenuItem" name="idMenuNew" variable="MenuFileNew" member="yes">
                    <label>_New</label>
                    <help>Create a new song</help>
                    <handler function="OnMenuFileNewSelected" entry="EVT_MENU" />
                </object>
                <object class="wxMenuItem" name="idMenuOpen" variable="MenuFileOpen" member="yes">
                    <label>_Open...</label>
                    <help>Open an existing song</help>
                    <handler function="OnMenuFileOpenSelected" entry="EVT_MENU" />
                </object>
                <object class="wxMenuItem" name="idMenuSave" variable="MenuFileSave" member="yes">
                    <label>_Save...</label>
                    <help>Save current song</help>
                    <handler function="OnMenuFileSaveSelected" entry="EVT_MENU" />
                </object>
                <object class="wxMenuItem" name="idMenuSaveAs" variable="MenuFileSaveAs" member="yes">
                    <label>Save _As...</label>
                    <help>Save with a different name</help>
                    <handler function="OnMenuFileSaveAsSelected" entry="EVT_MENU" />
                </object>
                <object class="wxMenuItem" name="idMenuExit" variable="MenuExit" member="yes">
                    <label>_Exit</label>
                    <accel>Alt-F4</accel>
                    <help>Quit the application</help>
                    <handler function="OnQuit" entry="EVT_MENU" />
                </object>
            </object>
            <object class="wxMenu" variable="Menu2" member="yes">
                <label>_Help</label>
                <object class="wxMenuItem" name="idMenuAbout" variable="MenuHelpAbout" member="yes">
                    <label>About...</label>
                    <accel>F1</accel>
                    <help>Show info about this application</help>
                    <handler function="OnAbout" entry="EVT_MENU" />
                </object>
            </object>
        </object>
        <object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
            <fields>1</fields>
            <widths>-1</widths>
            <styles>wxSB_NORMAL</styles>
        </object>
        <object class="wxTimer" name="ID_TIMER" variable="Timer" member="yes">
            <oneshoot>1</oneshoot>
            <handler function="OnTimerTrigger" entry="EVT_TIMER" />
        </object>
        <object class="wxToolBar" name="ID_TOOLBAR1" variable="ToolBar1" member="yes">
            <style>wxTB_FLAT|wxTB_DOCKABLE|wxTB_HORIZONTAL|wxTB_NODIVIDER|wxNO_BORDER</style>
            <object class="tool" name="Open" variable="ToolBarItem1" member="yes">
                <label>New item</label>
                <bitmap>C:\Documents and Settings\Luca\Documenti\cpp\songpress\open.png</bitmap>
            </object>
        </object>
    </object>
</wxsmith>
